node.json
[{"id":"e65f8e11.fb66a8","type":"http response","z":"dfc2ff7d.3edad","name":"","statusCode":"","headers":{},"x":130,"y":560,"wires":[]},{"id":"806abc78.9477a","type":"http in","z":"dfc2ff7d.3edad","name":"","url":"/casawatson","method":"post","upload":false,"swaggerDoc":"","x":162.10000610351562,"y":115.00000381469727,"wires":[["2e7faa2c.64c506"]]},{"id":"cd35aec2.e6ffc8","type":"template","z":"dfc2ff7d.3edad","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"conversationToken\": \"{{payload.context.conversation_id}}\",\n    \"expectUserResponse\": true,\n    \"expectedInputs\": [\n        {\n            \"inputPrompt\": {\n                \"richInitialPrompt\": {\n                    \"items\": [\n                        {\n                            \"simpleResponse\": {\n                                \"textToSpeech\": \"{{payload.output.text}}\",\n                                \"displayText\": \"{{payload.output.text}}\"\n                            }\n                        }\n                    ],\n                    \"suggestions\": []\n                }\n            },\n            \"possibleIntents\": [\n                {\n                    \"intent\": \"actions.intent.TEXT\"\n                }\n            ]\n        }\n    ],\n    \"final\" : \"{{payload.context.vgwHangUp}}\"\n}","output":"json","x":140,"y":400,"wires":[["7b99c125.0dc888","38607d4d.828042"]]},{"id":"2e7faa2c.64c506","type":"function","z":"dfc2ff7d.3edad","name":"Preparar entrada","func":"msg.originalMsg = msg.payload;\nmsg.params = {};\nmsg.user = msg.originalMsg.user.userId;\n\nif (msg.originalMsg.conversation.type == 'NEW')\n{\n    msg.payload = '';\n    msg.params.context = {};\n}\nelse\n    msg.payload = msg.originalMsg.inputs[0].arguments[0].textValue\nreturn msg;","outputs":1,"noerr":0,"x":173.10000610351562,"y":222.00000190734863,"wires":[["41d462bf.bac24c"]]},{"id":"7b99c125.0dc888","type":"function","z":"dfc2ff7d.3edad","name":"checkFinal","func":"\n\nif (msg.payload.final && msg.payload.final == 'Yes')\n{\n    finalResponse = {}\n    finalResponse.richResponse = {}\n    finalResponse.richResponse.items = []\n    finalResponse.richResponse.items.push({})\n    finalResponse.richResponse.items[0].simpleResponse = {}\n    finalResponse.richResponse.items[0].simpleResponse.textToSpeech = msg.payload.expectedInputs[0].inputPrompt.richInitialPrompt.items[0].simpleResponse.textToSpeech\n    msg.payload.finalResponse = finalResponse;\n    // Si hay finalResponse, sobran los expectedInputs y no se espera respuesta\n    delete msg.payload.expectedInputs;\n    msg.payload.expectUserResponse = false;\n}\ndelete msg.payload.final\nmsg.payload.expectedInputs[0].inputPrompt.richInitialPrompt.items[0].simpleResponse.textToSpeech=msg.payload.expectedInputs[0].inputPrompt.richInitialPrompt.items[0].simpleResponse.textToSpeech.replace(/(<([^>]+)>)/ig,\"\")\nmsg.payload.expectedInputs[0].inputPrompt.richInitialPrompt.items[0].simpleResponse.displayText=msg.payload.expectedInputs[0].inputPrompt.richInitialPrompt.items[0].simpleResponse.displayText.replace(/(<([^>]+)>)/ig,\"\")\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":480,"wires":[["e65f8e11.fb66a8"]]},{"id":"41d462bf.bac24c","type":"watson-conversation-v1","z":"dfc2ff7d.3edad","name":"assistant chef","workspaceid":"e7a05e6a-e65d-44b3-92ab-890682ad8a21","multiuser":true,"context":true,"empty-payload":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":160,"y":320,"wires":[["cd35aec2.e6ffc8"]]},{"id":"38607d4d.828042","type":"debug","z":"dfc2ff7d.3edad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":440,"wires":[]}]
